.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.button:hover {
    background-color: #4CAF50;
}

.term-message {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.term-activated {
    background-color: #4CAF50; 
    color: white;
}

.term-deactivated {
    background-color: #FF5722; 
    color: white;
}

.fterm-container {
    font-size: 3vh; 
    font-weight: bold;
    margin: 50px auto; 
    padding: 3vh; 
    border-radius: 5px;
    width: 60vw; 
    max-width: 500px; 
    text-align: center; 
    background-color: #007BFF; 
    color: white; 
    animation: backgroundAnimation 3s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-color: #007BFF; 
        color: white;
    }
    100% {
        background-color: #4CAF50; 
        color: white;
    }
}

@media screen and (max-width: 550px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin: 10px 0;
    }
}
